apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: maryam080/node-prisma-app:latest
        envFrom:
        - configMapRef:
            name: app-config
        ports:
        - containerPort: 3000
